input[type="text"] {
    width: 30%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 2px;
}

.typeahead-content-list-image {
    height: 24px;
    width: 24px;
}
